.full-screen {
    overflow-x: hidden;
}

.full-screen header {
    width: 100%;
    height: 0.76rem;
    position: relative;
    overflow-x: hidden;
    border-bottom: 0.02rem solid #e8e8e8;
}

.full-screen header .a-bar {
    width: 100%;
    height: 0.76rem;
    padding: 0.14rem 0;
    float: left;
}

.full-screen header .a-bar img {
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
    left: 0;
    top: 0;
}

.full-screen header .a-bar .a-back {
    display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    position: absolute;
    top: 0.14rem;
    left: 0.2rem;
    margin: 0;
    text-align: center;
}

.full-screen header .a-bar .a-name {
    color: #28282e;
    font-size: 0.32rem;
    padding: 0 0.9rem;
    margin: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-screen .full-padding {
    padding: 0 0.2rem;
}

.full-screen .full-padding .c-g {
    height: auto;
    border: none;
    margin-top: 0.3rem;

}

.full-screen .full-padding .c-g .c-l {
    font-size: 0.24rem;
    color: #000;
    margin-bottom: 0.1rem;
}

.full-screen .full-padding .c-g .c-l span {
    color: #ff3674;
}

.full-screen .full-padding .c-g .c {
    height: 0.72rem;
    line-height: 0.72rem;
    border: 0.02rem solid #bfbfbf;
    border-radius: 0.1rem;
    padding: 0.1rem;
    box-sizing: border-box;
    position: relative;
}

.full-screen .full-padding .c-g .c .text {
    outline: none;
    border: 0;
    vertical-align: top;
    font-size: 0.24rem;
    width: 100%;
    height: 0.48rem;
}

.full-screen .full-padding .c-g .c .pwd-view {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/member/passport_pwd_hide_2x.png) no-repeat;
    background-size: 0.5rem 0.5rem;
}
.full-screen .full-padding .c-g .c .view {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/member/passport_pwd_view_2x.png) no-repeat;
    background-size: 0.5rem 0.5rem;
}

.full-screen .full-padding .c-g .password-instruction {
    color: #666;
    margin-top: 0.1rem;
    line-height: 1.2;
    font-size: 0.24rem;
}
.full-screen .full-padding  .btn{
    margin-top: 0.32rem;
    background: #ed5831;
    border-radius: 0.06rem;
    font-size: 0.32rem;
    width: 100%;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
}