<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/article-wap.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/base.js"></script>
    <script src="js/jquery-1.11.3.js"></script>
    <script src="./js/ejs.js"></script>
    <script src="js/swiper.min.js"></script>
    <title>年货大集主会场</title>

    <script src="js/article-wap.js"></script>
</head>

<body>
    <!-- 登录 start -->
    <header>
        <div class="header-main">
            <div class="a-bar">
                <div class="a-back"><a href="0"><img src="images/login/arr_left_2x_160705.png" alt=""></a></div>
                <div class="a-name"><span>年货大集主会场</span></div>
                <div class="a-right"><a href=""><img src="images/login/home_btn_2x_160705.png" alt=""></a></div>
            </div>
        </div>
    </header>
    <!-- 登录 end -->
    <!-- 广告 start -->
    <article>
        <!-- 新年 start -->
        <div class="near-photo">
            <img src="images/passport/676b9e20e560bce23634ce5f077e16a0c0f66bc0.jpg" alt="">
        </div>
        <!-- 新年 end -->
        <!-- 优惠卷 start -->
        <div id="item0" class="xj-content-product-wrap">
            <div class="tit-block">
                <img src="images/passport/919bbc454390b6de649d6d167d8cff1d6738541d.jpg" alt="">
            </div>
        </div>
        <!-- 优惠卷 end -->
        <!-- 活动专区 start -->
        <div class="active-shop xj-content-product-wrap">
            <ul>
                <li class="act-item">
                    <a href="">
                        <img src="images/passport/1c2c502279efbdd15a0fea14aafc87eb0c40df40.png" alt="">
                    </a>
                </li>
                <li class="act-item">
                    <a href="">
                        <img src="images/passport/0a1f4a4ee05fd3f747b4afb169ddc8b67c7d0928.jpg" alt="">
                    </a>
                </li>
                <li class="act-item"><a href="">
                        <img src="images/passport/58a13bc5e3342efff4558ae7991b16326d2442f2.jpg" alt="">
                    </a></li>
                <li class="act-item"><a href="">
                        <img src="images/passport/30da939d465d4651383dbac227c9e52dd12bcedb.jpg" alt="">
                    </a></li>
                <li class="act-item"><a href="">
                        <img src="images/passport/ba52331d217a99c53a615687e35e1f7c6997cac2.jpg" alt="">
                    </a></li>
                <li class="act-item"><a href="">
                        <img src="images/passport/8abda31390da1f7b1c8984744e7c52118a1740b5.png" alt="">
                    </a></li>
            </ul>
        </div>
        <!-- 活动专区 end -->
    </article>
    <!-- 广告 end -->
    <!-- 产品专场 start -->
    <main>
        <!-- 大包奢品 start -->
        <div class="xj-content-product-wrap item0" id="item2">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images/passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid3">
                    <script type="text/template" id="tpl">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                    <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                            data-original="images/passport/<%=shop[i].act_url%>"
                                                            alt="<%=shop[i].act_name%>" >
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                    <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag"><%-shop[i].tit-%></div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(3, "tpl", "#shop_pid3");
                    </script>
                </div>
            </div>
        </div>
        <!-- 大包奢品 end -->
        <!-- 潮流箱包 start -->
        <div class="xj-content-product-wrap item1" id="item3">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid4">
                    <script type="text/template" id="tpl1">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                     <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                data-original="images/passport/<%=shop[i].act_url%>"
                                                                alt="<%=shop[i].act_name%>">
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                    alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                        <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag">
                                            <%-shop[i].tit-%>
                                        </div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(4, "tpl1", "#shop_pid4");
                    </script>
                </div>
            </div>
        </div>
        <!-- 潮流箱包 end -->
        <!-- 美妆护肤 start -->
        <div class="xj-content-product-wrap item2" id="item4">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid5">
                    <script type="text/template" id="tpl2">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                    <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag">
                                            <%-shop[i].tit-%>
                                        </div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(5, "tpl2", "#shop_pid5");
                    </script>
                </div>
            </div>
        </div>
        <!-- 美妆护肤 end -->
        <!-- 冬装鞋服 start -->
        <div class="xj-content-product-wrap item3" id="item5">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid6">
                    <script type="text/template" id="tpl3">
                        <ul class="bigList-block">
                                <% for(var i = 1;i< shop.length;i++){ %>
                                    <li class="bigItem-block" id="<%=shop[i].Id%>">
                                         <div class="content-inner">
                                            <a href="">
                                                <div class="img-box">
                                                    <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                    <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                    <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                                </div>
                                            </a>
                                            <div class="tit-box">
                                                <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                            </div>
                                            <div class="price-box">
                                                <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                                <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                            </div>
                                            <div class="xj-active-tag">
                                                <%-shop[i].tit-%>
                                            </div>
                                            <div class="btn-box">
                                                <a href="">立即选购</a>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                    </script>
                    <script>
                        dom.xhr(6, "tpl3", "#shop_pid6");
                    </script>
                </div>
            </div>
        </div>
        <!-- 冬装鞋服 end -->
        <!-- 饰品腕表 start -->
        <div class="xj-content-product-wrap item4" id="item6">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid7">
                    <script type="text/template" id="tpl4">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                    <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag">
                                            <%-shop[i].tit-%>
                                        </div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(7, "tpl4", "#shop_pid7");
                    </script>
                </div>
            </div>
        </div>
        <!-- 饰品腕表 end -->
        <!-- 生活家电 start -->
        <div class="xj-content-product-wrap item5" id="item7">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid8">
                    <script type="text/template" id="tpl5">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                    <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag">
                                            <%-shop[i].tit-%>
                                        </div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(8, "tpl5", "#shop_pid8");
                    </script>
                </div>
            </div>
        </div>
        <!-- 生活家电 end -->
        <!-- 精致睡眠 start -->
        <div class="xj-content-product-wrap item6" id="item8">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid9">
                    <script type="text/template" id="tpl6">
                        <ul class="bigList-block">
                            <% for(var i = 1;i< shop.length;i++){ %>
                                <li class="bigItem-block" id="<%=shop[i].Id%>">
                                    <div class="content-inner">
                                        <a href="">
                                            <div class="img-box">
                                                <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                            </div>
                                        </a>
                                        <div class="tit-box">
                                            <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                        </div>
                                        <div class="price-box">
                                            <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                            <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                        </div>
                                        <div class="xj-active-tag">
                                            <%-shop[i].tit-%>
                                        </div>
                                        <div class="btn-box">
                                            <a href="">立即选购</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </script>
                    <script>
                        dom.xhr(9, "tpl6", "#shop_pid9");
                    </script>
                </div>
            </div>
        </div>
        <!-- 精致睡眠 end -->
        <!-- 家居家装 start -->
        <div class="xj-content-product-wrap item7" id="item9">
            <div class="xj-content-product">
                <div class="tit-block">
                    <a href="">
                        <img src="images//passport/bg.png" alt="">
                    </a>
                </div>
                <div class="content-block" id="shop_pid10">
                    <script type="text/template" id="tpl7">
                        <ul class="bigList-block">
                                <% for(var i = 1;i< shop.length;i++){ %>
                                    <li class="bigItem-block" id="<%=shop[i].Id%>">
                                         <div class="content-inner">
                                            <a href="">
                                                <div class="img-box">
                                                    <img src="images/passport/<%=shop[i].act_url%>" class="lazy"
                                                                    data-original="images/passport/<%=shop[i].act_url%>"
                                                                    alt="<%=shop[i].act_name%>">
                                                    <div class="soldout-img"><img src="images/passport/<%=shop[i].act_url2%>"
                                                                        alt=""></div>
                                                    <div class="xj-store-num">仅剩<%=shop[i].stil%>件</div>
                                                </div>
                                            </a>
                                            <div class="tit-box">
                                                <a href="" title="<%=shop[i].act_name%>" onclick="ClickProduct('DEG009942', '大牌奢品','1')">Givenchy
                                                            <%=shop[i].act_name%></a>
                                            </div>
                                            <div class="price-box">
                                                <div class="current-price">券后￥<%=shop[i].new_price%></div>
                                                <div class="old-price"><span>￥<%=shop[i].old_price%></span></div>
                                            </div>
                                            <div class="xj-active-tag">
                                                <%-shop[i].tit-%>
                                            </div>
                                            <div class="btn-box">
                                                <a href="">立即选购</a>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                    </script>
                    <script>
                        dom.xhr(10, "tpl7", "#shop_pid10");
                    </script>>
                </div>
            </div>
        </div>
        <!-- 家居家装 end -->
    </main>
    <!-- 产品专场 end -->
    <!-- 底部 start -->
    <footer>
        <!-- 底部登录注册 start -->
        <div class="home-to-top">
            <div id="footerlogin">
                <a href="login.html" class="lnk">登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="" class="lnk">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="" class="lnk">返回顶部</a>
            </div>
            <div id="footerlogout" style="display: none;">
                <span>
                    <a href=""><span id="footerloginuname"></span></a>
                </span>
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="login.html" class="lnk">退出</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="0" class="lnk">返回顶部</a>
            </div>
        </div>
        <!-- 底部登录注册 end -->
        <!-- 底部声明 start -->
        <div class="footer">
            <p><span>Copyright © 2017 XIJI Hongkong Co., Ltd <br>xiji.com 保留一切权利。</span></p>
        </div>
        <!-- 底部声明 end -->
    </footer>
    <!-- 底部 end -->
    <!-- 返回顶部 start -->
    <nav>
        <div class="cart-btn-link">
            <a href="" class="xj-cart-btn"></a>
        </div>
        <div class="top-btn-link">
            <a href="" class="xj-top-btn"></a>
        </div>
        <div class="xj-pt-btn-back">
            <a href="" class="xj-back-btn"></a>
        </div>

    </nav>
    <!-- 返回顶部 end -->
    <!-- 顶部蒙层 start -->
    <div class="subject-tabnav" id="subject_tabnav">
        <div class="open" id="link_block">
            <div class="xj-app-swiper-order swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide swiper-slide-active active" id="menu0">
                        <span>领券专区</span>
                    </li>
                    <li class="swiper-slide swiper-slide-next" id="menu1">
                        <span>活动专区</span>
                    </li>
                    <li class="swiper-slide" id="menu2">
                        <span>大牌奢品</span>
                    </li>
                    <li class="swiper-slide" id="menu3">
                        <span>潮流箱包</span>
                    </li>
                    <li class="swiper-slide" id="menu4">
                        <span>美妆护肤</span>
                    </li>
                    <li class="swiper-slide" id="menu5">
                        <span>冬装鞋服</span>
                    </li>
                    <li class="swiper-slide" id="menu6">
                        <span>饰品腕表</span>
                    </li>
                    <li class="swiper-slide" id="menu7">
                        <span>生活家电</span>
                    </li>
                    <li class="swiper-slide" id="menu8">
                        <span>精致睡眠</span>
                    </li>
                    <li class="swiper-slide" id="menu9">
                        <span>家居家装</span>
                    </li>
                </ul>
            </div>
            <div id="shadow_right" class="shadow_right"></div>
        </div>
        <style>
            /* .nav_open_layer nav .div-list {
                background: #fff;
            }

            .nav_open_layer nav .div-list ul {
                display: flex;
                width: 7.5rem;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding-bottom: .2rem;
            }

            .nav_open_layer nav .div-list ul .swiper-slide {
                width: 1.76rem;
                margin-top: .13rem;
            }

            .nav_open_layer nav .div-list ul .swiper-slide span {
                display: block;
                color: #191919;
                width: 100%;
                height: .52rem;
                font-size: .24rem;
                text-align: center;
                line-height: .52rem;
                border-radius: .26rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .nav_open_layer nav .div-list ul li.active {}

            .nav_open_layer nav .div-list ul li.active span {
                background-color: #666;
                width: 100%;
                line-height: .52rem;
                text-align: center;
                color: #fff;
            } */
        </style>
        <div class="nav_open_layer" id="nav_open_layer">
            <nav class="nav-cont">
                <div class="nav_close" id="nav_close">
                    全部分类 <span></span>
                </div>
                <div class="div-list">
                    <ul>
                        <li class="swiper-slide" id="menu0">
                            <span>领券专区</span>
                        </li>
                        <li class="swiper-slide" id="menu1">
                            <span>活动专区</span>
                        </li>
                        <li class="swiper-slide" id="menu2">
                            <span>大牌奢品</span>
                        </li>
                        <li class="swiper-slide" id="menu3">
                            <span>潮流箱包</span>
                        </li>
                        <li class="swiper-slide" id="menu4">
                            <span>美妆护肤</span>
                        </li>
                        <li class="swiper-slide" id="menu5">
                            <span>冬装鞋服</span>
                        </li>
                        <li class="swiper-slide" id="menu6">
                            <span>饰品腕表</span>
                        </li>
                        <li class="swiper-slide" id="menu7">
                            <span>生活家电</span>
                        </li>
                        <li class="swiper-slide" id="menu8">
                            <span>精致睡眠</span>
                        </li>
                        <li class="swiper-slide" id="menu9">
                            <span>家居家装</span>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <script>
        //打开弹出层和蒙层
        function openLayer() {
            $("#nav_open_layer").css("display", "block");
            $('#mainOverlay').css('display', 'block');
        }
        //关闭弹出层和蒙层
        function closeLayer() {
            $("#nav_open_layer").css("display", "none");
            $('#mainOverlay').css('display', 'none');
        }

        //设定导航全局宽度
        function swiperWSet() {
            var swiper_order_width = $(window).width() - 40;
            var swiper_width = $("#link_block .xj-app-swiper-order").width();
            $("#link_block .xj-app-swiper-order").css("width", swiper_order_width);
            $("#link_block .swiper-wrapper").css("width", swiper_width);
        }

        //点击按钮展开导航
        $("#shadow_right").click(function () {
            openLayer();
            $(document.body).bind("touchmove", function (e) {
                e.preventDefault();
            });
        });

        $('#mainOverlay').bind('click', function () {
            closeLayer();
            $(document.body).unbind("touchmove");
        });

        $("#nav_close").click(function () {
            closeLayer();
            $(document.body).unbind("touchmove");
        });

        $('#returnTopBtn').bind('click', function () {
            $(window).scrollTop(0);
            swiper.slideTo(0, 0, false);
            $('#link_block li.swiper-slide').removeClass("active");
            $('#link_block li.swiper-slide').eq(0).addClass("active");
        })
        //楼层效果
        var navSwiper;
        $(document).ready(function (e) {

            //解决不可右划返回上一页问题
            // if (window.location.href.indexOf('apparticle') >= 0 && navigator.userAgent.toLowerCase().indexOf(
            //         'iphone') >= 0) {
            //     $(document).off('touchstart MSPointerDown pointerdown');
            //     $(document).off('touchmove MSPointerMove pointermove');
            //     $(document).off('touchend MSPointerUp pointerup');
            // }

            var slideNum;
            // if ($.fn.cookie('X[LANG]') == 'en_US') {
            //     slideNum = 3;
            // } else {
            slideNum = 4;
            // }
            //当显示的个数多于四个时，产生第五个menu
            if ($('#link_block .swiper-slide').length > 1) {
                $("#subject_tabnav").css("display", "block");

                if ($('#link_block .swiper-slide').length > slideNum) {
                    swiperWSet();
                    $("#shadow_right").css("display", "block");

                    navSwiper = new Swiper('.xj-app-swiper-order', {
                        pagination: '.swiper-pagination',
                        slidesPerView: slideNum,
                        paginationClickable: true,
                        spaceBetween: 0
                    });

                } else {
                    if ($('#link_block .swiper-slide').length == 2) {
                        $("#link_block .swiper-slide").css({
                            "width": "50%",
                            "float": "left"
                        });
                    } else if ($('#link_block .swiper-slide').length == 3) {
                        $("#link_block .swiper-slide").css({
                            "width": "33.3%",
                            "float": "left"
                        });
                    } else if ($('#link_block .swiper-slide').length == 4) {
                        $("#link_block .swiper-slide").css({
                            "width": "20%",
                            "float": "left"
                        });
                    }
                }
            }

            var menublocks = $('#link_block .swiper-slide');
            var openmenublocks = $('#nav_open_layer .swiper-slide');
            var contentblocks = $('.xj-content-product-wrap');
            var contentblocksTop = [];
            var displaceNum = 50;
            var articletop = $('.xj-content-product-wrap')[0];

            //添加menu的id;
            for (var i = 0; i < menublocks.length; i++) {
                menublocks.eq(i).attr('id', 'menu' + i);
            };
            // console.log(menublocks.length)
            for (var i = 0; i < openmenublocks.length; i++) {
                openmenublocks.eq(i).attr('id', 'openmenu' + i);
            };

            //添加content-block的id;
            for (var i = 0; i < contentblocks.length; i++) {
                contentblocks.eq(i).attr('id', 'item' + i);
                contentblocksTop.push(contentblocks[i].offsetTop - displaceNum);
            }
            // console.log(contentblocks.length)

            //链接到对应的content_block;
            contentblocks.each(function (idx, elem) {
                $("#menu" + idx).bind('click', function () {
                    window.scrollTo(0, contentblocksTop[idx] + 1);
                });

                $("#openmenu" + idx).bind('click', function () {

                    if (navSwiper) {
                        if (((idx + 1) - (navSwiper.activeIndex + 1)) > 0 && ((idx + 1) - (
                                navSwiper.activeIndex + 1)) > 4) {
                            navSwiper.slideTo((idx - 4) + 1, 1000, false);
                        } else if (((idx + 1) - (navSwiper.activeIndex + 1)) < 0) {
                            navSwiper.slideTo(idx + 1, 1000, false);
                        }
                    }
                    window.scrollTo(0, contentblocksTop[idx] + 1);
                    closeLayer();
                    $(document.body).unbind("touchmove");
                });
            });

            var scrollTime;
            var prevPosNum = 0;
            var init_float_bar = function () {
                clearTimeout(scrollTime);
                //将每个文章模块的top位置存到数组里
                contentblocksTop = [];
                for (var i = 0; i < contentblocks.length; i++) {
                    contentblocksTop.push(contentblocks[i].offsetTop - displaceNum);
                }
                //解决商品详细页面模块预加载问题
                var floorBtns = $('#link_block .swiper-slide');
                var openfloorBtns = $('#nav_open_layer .swiper-slide');
                var scrollTop = $("body").scrollTop() || $("html").scrollTop();
                var floorNum = getArticleFloor(scrollTop);

                //导航条固定在页面顶部
                if (scrollTop >= articletop.offsetTop - displaceNum) {
                    $('#link_block').addClass("open");
                } else {
                    $('#link_block').removeClass("open");
                }

                if (floorNum > 0) {
                    for (var i = 0; i < floorBtns.length; i++) {
                        $('li.swiper-slide').removeClass("active");
                    }
                    floorBtns.eq(floorNum - 1).addClass("active");
                    openfloorBtns.eq(floorNum - 1).addClass("active");

                    if (navSwiper) {
                        if ((floorNum - 1) - navSwiper.activeIndex >= slideNum) {
                            navSwiper.slideTo(navSwiper.activeIndex + 1, 1000, false);
                        } else if ((floorNum - 1) < navSwiper.activeIndex) {
                            navSwiper.slideTo(navSwiper.activeIndex - 1, 1000, false);
                        }
                    }

                    //解决疯狂向下滑导航定不到位的问题
                    scrollTime = setTimeout(function () {
                        if (navSwiper) {
                            if ((floorNum - 1) - prevPosNum >= slideNum) {
                                navSwiper.slideTo(floorNum - 4, 1000, false);
                            } else if ((floorNum - 1) < prevPosNum) {
                                navSwiper.slideTo(floorNum - 1, 1000, false);
                            }
                        }
                        prevPosNum = floorNum - 1; //记住楼层号
                    }, 1500);
                };
            }

            setTimeout(function () {
                init_float_bar();
            }, 600);
            $(window).scroll(init_float_bar);
            $(window).resize(function () {
                if (navSwiper) {
                    swiperWSet();
                    navSwiper.update();
                }
            });

            //取得滚轮到达那个文章楼层
            function getArticleFloor(scrollTopNum) {

                if (scrollTopNum < contentblocksTop[0]) return 0;

                for (var i = 0; i < contentblocksTop.length; i++) {

                    if (i < contentblocksTop.length - 1) {
                        if (scrollTopNum >= contentblocksTop[i] && scrollTopNum <= contentblocksTop[i + 1]) {
                            return i + 1;
                        }
                    } else {
                        if (scrollTopNum >= contentblocksTop[i]) {
                            return i + 1;
                        }
                    }
                }
            }
        });
        scrollTopFunc();
    </script>
    <!-- 顶部蒙层 end -->
</body>

</html>